<div class="row">
  <div class="small-12 small-centered columns animated fadeInUp form">

    <h2>Edit Account</h2>

    <%= form_for :user, html: { method: :put } do |f| %>

      <div class="field">
        <%= f.label :email %><i>(you can change your email here)</i>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :daily_goal %>
        <%= f.text_field :daily_goal %>
      </div>

      <div class="field">
        <%= f.label :metric %>
        <%= f.text_field :metric %>
      </div>


      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>

    <div class="back">
      <%= link_to "go back", user_path(@user) %>
    </div>

    <br/>

    <div class="cancelContainer animated fadeIn">
      <h4> danger zone </h4>
      <h3>Do you want to delete your account?</h3>
      <%= button_to "Delete", registration_path(@user), data: { confirm: "We'd be so sad to see you go :( Are you sure?" }, method: :delete %>
    </div>
  </div>
</div>
