<div class="row">
  <div class="small-12 small-centered columns form">

    <h2 class="animated fadeInDown">Log in</h2>

    <%= form_for :user do |f| %>
      <div class="field animated fadeInLeft">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field animated fadeInRight">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions animated fadeInRight">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <div class="signinlink animated fadeInUp">
      <%= link_to 'Not registered? Sign up here.', new_user_registration_path %>
    </div>
  </div>

</div>
