<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Vital</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <link href="https://fonts.googleapis.com/css?family=Bungee+Hairline|Bungee|Megrim|Open+Sans|Open+Sans+Condensed:300|Comfortaa|Poiret+One" rel="stylesheet">

  </head>

  <body>

    <div class="row">
      <div class="small-12 small-centered columns landingHeader">
        <% if user_signed_in? %>
          <a href="/users/<%="#{current_user.id}"%>">
        <% else %>
          <a href="/">
        <%end%>
          <h1>Vital</h1>
        </a>
      </div>
    </div>


  <div class='row'>
    <div class="small-12 small-centered columns">
      <div class="row unstack mainHeader">
        <div class="small-7 columns animated fadeInDown">

        <% if user_signed_in? %>
            <h3> hi <strong><%= current_user.email %></strong> </h3>
        </div>
        <div class="small-5 small-left columns animated fadeInDown">
          <%= link_to edit_user_registration_path do %>
            <i class="fa fa-wrench icon" aria-hidden="true"></i>
          <%end%>

          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out icon" aria-hidden="true"></i>
          <%end%>
        </div>
        <% else %>
      </div>
          <div class="small-4 columns signup">
            <%= link_to new_user_registration_path do %>
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            <%end%>
          </div>
          <div class="small-4 columns signin">
            <%= link_to new_user_session_path do %>
              <i class="fa fa-sign-in" aria-hidden="true"></i>
            <%end%>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>

  </body>
</html>
